/* #region header-product-detail-page */
.header-product-detail-page {
  /* background-color: green; */
  width: 100%;
  max-width: 1440px;
  height: 164px;
  display: flex;
  align-items: center;
}

.navbar-product-detail-page {
  width: 100%;
}

.site-name-product-detail-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.site-name-product-detail-page p {
  margin-left: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}

.nav-links-ul-product-detail-page {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  width: 390px;
  margin-right: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.nav-links-ul-product-detail-page a {
  text-decoration: none;
  color: #000;
}

.nav-links-btn-product-detail-page {
  border-radius: 8px;
  padding: 14px 24px;
  width: 99px;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.nav-links-btn-product-detail-page a {
  color: #fff;
}

.nav-links-btn-product-detail-page:hover,
.nav-links-btn-product-detail-page:focus {
  background: #a43434;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}

.nav-links-btn-product-detail-page:hover a,
.nav-links-btn-product-detail-page a:focus {
  color: #160202;
}

/* #endregion header-product-detail-page */


/* #region main-product-name */


.product-name {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 140px;
  margin: 0 80px 80px 80px;
}

.product-image-stone-mushroom {
  border-radius: 12px;
  width: 625px;
  height: 613px;
}

.product-name-title-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 515px;
  margin-top: 80px;
  box-sizing: border-box;
}

.product-name-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #000;
  margin: 0;
}

.product-name-subheading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #828282;
}

.product-name-price {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
}

.product-name-body-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #828282;
}

.product-name-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 8px;
  padding: 14px 24px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.product-name-text-box {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
}

.product-name-btn:hover,
.product-name-btn:focus {
  background: #aa68d5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  color: #160202;
}

/* #endregion main-product-name */

/* #region main-related-products */

.related-products {
  margin: 0 80px 150px 80px;
}

.related-products-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #000;
  margin-bottom: 32px;
}

.related-products-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin-bottom: 35px;
}

.related-products-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: calc((100% - 35px) / 3);


  position: relative;
  /* щоб overlay позиціонувався всередині */
}

.related-products-grid img {
  width: 100%;
  height: 238px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-bottom: 24px;


  display: block;
}

/* стилі overlay */
.related-product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightblue;
  color: #000;
  padding: 12px;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0;
  /* приховано */
  transform: translateY(100%);
  /* зсунуте вниз */
  transition: all 0.3s ease;
}

/* показати при наведенні */
.related-products-grid:hover .related-product-overlay {
  opacity: 1;
  transform: translateY(0);
  /* піднімається вгору */
}


.related-products-grid-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin: 0 0 4px 0;
}

.related-product-name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #828282;
  margin: 0 0 4px 0;
}

.related-product-price {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

/* #endregion main-related-products */

/* #region footer-section-site-name */

.footer-section-site-name {
  width: 1440px;
  height: 264px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.footer-site-name h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 88px;
}


.footer-nav-links-ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  list-style: none;
  width: 184px;
  height: 40px;
  padding: 0;
  margin: 0 472px 0 80px;
}



.footer-site-name-icon {
  width: 40px;
  height: 40px;
}




.modal-content-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.modal-content-page-one {
  margin-right: 32px;
}

.modal-content-page-three {
  margin-right: 80px;
  margin-left: 32px;
}

/* #endregion footer-section-site-name */