/* #region header */
.header {
  /* background-color: green; */
  width: 100%;
  max-width: 1440px;
  height: 164px;
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
}

.site-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.site-name p {
  margin-left: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}

.nav-links-ul {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  margin-right: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.nav-links-ul a {
  text-decoration: none;
  color: #000;
}

.nav-links-btn {
  border-radius: 8px;
  padding: 14px 24px;
  width: 99px;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.nav-links-btn a {
  color: #fff;
}

.nav-links-btn:hover,
.nav-links-btn:focus {
  background: #a43434;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}

.nav-links-btn:hover a,
.nav-links-btn a:focus {
  color: #160202;
}

/* #endregion header */


/* #region copy */


.content-wrapper {
  background-color: #b1d37b;
  background-image: url('../images/background-oranges.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1440px;
  height: auto;
  min-height: 556px;
}

.copy-page-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 844px;
  height: 289px;
  margin-left: 79px;
}



.copy-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.02em;
  color: #000;
  margin-top: 48px;
  margin-bottom: 24px;
}

.copy-page-title p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 40px;
}

.copy-btn {
  border-radius: 8px;
  padding: 20px 32px;
  width: 141px;
  height: 76px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
}

.copy-btn:hover,
.copy-btn:focus {
  background: #908bda;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: #160202;
  outline: none;
  cursor: pointer;
}


/* #endregion copy */

/* #region hero-image */

.hero-image {
  max-width: 1280px;
  margin: 0 80px 80px 80px;
  min-height: 640px;
}

.hero-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


/* 
.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  width: 100%;
  max-width: 1280px;
  height: auto;
  min-height: 640px;
  margin-left: 80px;
  margin-right: 80px;
} */

/* #endregion hero-image */

/* #region section-heading-top */

.section-heading {
  margin-left: 80px;
  margin-right: 80px;
}

.section-heading-top {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #000;
}

.section-subheading-div-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: calc((100% - 32px) / 3);
  width: 1279px;
}


  .section-subheading-top h3 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000;
  }

  .section-subheading-top p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #828282;
  }

  /* #endregion section-heading-top */


  /* #region section-heading-second */
  .section-heading-second-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: auto;
    margin-top: 180px;
    margin-left: 80px;
  }

  .section-heading-second-top {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.02em;
    color: #000;
  }


  .heading-second-btn-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 190px;
  }

  .heading-second-btn-contact3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 24px;
    width: 125px;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: #000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
  }

  .heading-second-btn-contact4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 24px;
    width: 255px;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: #e6e6e6;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000;
  }

  .section-heading-second-div img {
    width: 740px;
    height: 740px;
    margin-bottom: 180px;
  }

.section-subheading-second-top {
  width: 516px;
}

  .section-subheading-second-top h3 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000;
  }

  .section-subheading-second-top p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #828282;
  }

  .heading-second-btn-contact3:hover,
  .heading-second-btn-contact3:focus {
    background: #908bda;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #160202;
    outline: none;
    cursor: pointer;
  }

  .heading-second-btn-contact4:hover,
  .heading-second-btn-contact4:focus {
    background: #170101;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #ece0e0;
    outline: none;
    cursor: pointer;
  }


  /* #endregion section-heading-second */