/* #region header-shop-title */

.header-shop-title {
  /* background-color: green; */
  
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/foto/pear-max.jpg");
  background-size: cover;
  /* або cover */
  background-repeat: no-repeat;
  background-position: center;
  width: 1442px;
  height: 720px;
}

.navbar {
  width: 100%;
}

.site-name-shop-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.site-name-shop-title p {
  margin-left: 80px;
  margin-top: 67px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.nav-links-ul-shop-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
  margin-right: 80px;
  margin-top: 67px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  width: 390px;
  height: 52px;
}

.nav-links-ul-shop-title a {
  text-decoration: none;
  color: #fff;
}

.nav-links-li {
  width: 59px;
  height: 30px;
}

.nav-links-btn-shop-title {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 14px 24px;
  width: 99px;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}



.nav-links-btn-shop-title a {
  color: #fff;
}

.nav-links-btn-shop-title:hover,
.nav-links-btn-shop-title:focus {
  background: #a43434;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}

.nav-links-btn-shop-title:hover a,
.nav-links-btn-shop-title a:focus {
  color: #160202;
}

.shop-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 844px;
  height: 256px;
}

.shop-title-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 844px;
  height: 140px;
}

.shop-title-text h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.shop-title-text p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  /* width: 844px;
  height: 60px; */
}

.shop-title-btn {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 14px 24px;
  width: 99px;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
}



/* #endregion header-shop-title */